# ──────────────────────────────────────────────
# SDV-M1-REDTEAM-APP — Variables d'environnement
# ──────────────────────────────────────────────

# Backend
MONGODB_URL=mongodb://mongo:27017
MONGODB_DB_NAME=redteam_app
SECRET_KEY=change-me-in-production
DEBUG=false

# Frontend
VITE_API_BASE_URL=http://localhost:8000
